header{
  color: $text-active;
  background-color: $primary;
  .brand{
    .logo-bg{
      width: 65px;
      height: 65px;
      margin-right: 10px;
      background-color: $white;
    }
    img{
      max-width: 100%;
      max-height: 100%;
    }
    .brand-name{
      margin-right: 40px;
    }
  }
  .main-nav{
    ul{
      list-style-type: none;
      li{
        a{
          padding: 23px 10px;
          color: $text-active;
          &:hover,
          &.active{
            background-color: $primary-dark;
          }
        }
      }
    }
  }
  .user-image{
    width: 55px;
    height: 55px;
    background-color: $white;
    position: relative;
    overflow: hidden;
    img{
      max-width: 100%;
      max-height: 100%;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }
}
